<html ng-app="parser">
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>
<body ng-controller="parserController">
<form >
  Author <input type="text" ng-model="author" />
  <br/>
  Title <input type="text" ng-model="title" />
  <br/>
  <textarea ng-model="content" rows="20" cols="140"></textarea>
  <br/>
  <button ng-click="hai()">print</button>
  <br/>
  <textarea ng-model="parsed" rows="20" cols="140"></textarea>
</form>
</body>
</html>
